body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Ocultar barras de desplazamiento */
    background-color: #303030;
}

a{
    color: red;
}

#container {
    height: 100vh; /* Hacer que el contenedor ocupe toda la altura de la ventana */
}

#visual-canvas {
    width: 100%;
    
}

#editor-container {
    height: 160px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para distinguir el área del editor */
    
}

.CodeMirror {
    background-color: #27252525 !important; /* Fondo del editor */
    color: #61dafb !important; /* Color del texto */
    font-family: 'Courier New', Courier, monospace; /* Fuente */
    font-size: 16px; /* Tamaño de fuente */
    
}

.CodeMirror-gutters {
    background-color: #27252525 !important; /* Fondo de los números de línea */
    border-right: 1px solid #aaa !important; /* Borde del gutter */
}

.CodeMirror-linenumber {
    color: #aaa; /* Color de los números de línea */
}

.CodeMirror-cursor {
    border-left: 2px solid #61dafb !important; /* Color y estilo del cursor */
}

.CodeMirror-selected {
    background-color: #3e4451 !important; /* Color de fondo de selección */
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: #27252525 !important; /* Fondo del editor */
    color: #61dafb !important; /* Color del texto */
    font-family: 'Courier New', Courier, monospace; /* Fuente */
    font-size: 16px; /* Tamaño de fuente */
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    backdrop-filter: blur(10px); /* Efecto blur */
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace; /* Fuente */
}

.modal-content {
    background-color: #1e1e1e; /* Fondo del contenido modal */
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.close-btn {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
} 

@media (max-width: 700px) {
    button{
        font-size: 14px;
        padding: 7px 15px;
        margin: 5px 3px;
    }
    #editor-container {
        height: 120px;
    }
}

